*timestamped_gps_coordinate.txt
timestamped_gps_coordinate.txt
*.log
*.dat
*.pyc
*.out
/dataset
fully_dynamic_k-center_clustering/__pycache__
.DS_Store
test.txt 
*/.vscode/*
*.out
/.pytest_cache/
/*egg-info/
*.vscode
